<div class = "search-Container">
 
	<!-- Header -->
	<div class="nav-header search-Header navbar-fixed-top">

		<table width = "100%" height = "100%">
		    <tr width = "100%" height = "100%">
		        <td width = "15%" align = "left">
		        	<a href = "#/browsing" class = "recording-BackBtn">
				    	<img src="images/arrow-left.png">
				    </a>
		        </td>
		        <td width = "70%" align = "center">
		        	Search Results
		        </td>
		        <td width = "15%">
                    
                    <a href = "#/recording" id = "search-AddIcon"><img src="images/icon-add.png"></a>
                    
		        </td>
		    </tr>
		</table>

	</div>

	<!-- Content -->

        <div class="recording-Contentleft">
      <table width = "100%" height = "100%" class = "table table-striped table-hover" >

		
    <tbody>
        <tr width = "100%" height = "100%">
				<th width = "50%">Food Name</th>
				<th width = "50%">Submitter</th>
			</tr>
				<tr ng-repeat="item in todos " ng-click="go(item)" width = "100%" height = "100%">
					<td >{{item.name }}</td>
					<td>{{item.source }}</td>
				</tr>       
			</tbody>
		</table>  
            
    </div></div>