.search-Container{
  padding-top: 90px;
  background-color: #333;
}

.search-Header{
  top: 45px;
  color: #FFF;
  background-color: #76A9DD;
  text-align: center;
  height: 45px;
  font-size: 17px;
}

.search-BackBtn img{
  height: 32px;
  width: 32px;
}

#search-AddIcon img{
  height: 32px;
  width: 32px;
}

.search-Content{
  padding: 10px;
  background-color: #FFF;
  text-align: center;
}





